body {
  width: 100%;
  height:100vh;
  /* 画像指定、imagesというフォルダ(ＣＳＳと同じ位置に作ったフォルダ)に入っている */
  background-image: url(../images/4317917_m.jpg);  
  /* 画像を常に上下左右の中央に配置させる  */
  background-position: center center; 
  /* 画像を繰り返し表示しない  */
  background-repeat: no-repeat;  
  /* ページなどのコンテンツの高さが画像の高さより大きい時動に固定する */
  background-attachment: fixed; 
  /* 画面、ブラウザのサイズに基づいて、背景画像を調整 */
  background-size: cover;
 }

.wrapper {
  border: solid;
  border-color: red
}

.txtBox {
  font-family: 'Caveat', cursive;
  font-family: "Kokoro";}