body {
  width: 100%;
  height:auto;
  border:solid;
  border-color: red;

}

nav{
border-bottom: 1px solid #ccc;
background: url(../images/white_00053.jpg);
  background-size: cover;
  text-decoration: none;

}

nav ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;

}

nav ul li{
  display: table-cell;
  min-width: 120px;
  border-right: 1px solid #ccc;

}
nav ul li:first-child{
  border-left: 1px solid #ccc;
}

nav ul li a{
  display: block;
  width: 100%;
  padding: 20px 0;
  color: #000000;
}

nav ul li.current a{
  border-bottom: 5px solid #00B0F0;
  color: #00B0F0;
}


/* タグ css */
.back-color-gradient {
  background: linear-gradient(
#fceabb,#f8b500)
}

/* 経歴 css */
/* 学歴 css */
.hidden_box {
  margin: 1em 0;/*前後の余白*/
  padding: 0;
}

/*ボタン装飾*/
.hidden_box label[for=label1] {
  padding: 5px;
  font-weight: bold;
  border: solid 2px red;
  cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}




/*職歴1 全体*/
.hidden_box {
  margin: 1em 0;/*前後の余白*/
  padding: 0;
}

/*ボタン装飾*/
.hidden_box label[for=label2] {
  padding: 5px;
  font-weight: bold;
  border: solid 2px blue;
  cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}


/*職歴2 全体*/
.hidden_box {
  margin: 1em 0;/*前後の余白*/
  padding: 0;
}

/*ボタン装飾*/
.hidden_box label[for=label3] {
  padding: 5px;
  font-weight: bold;
  border: solid 2px rgb(247, 243, 3);
  cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

/* 保有資格と特技 */
#ul-requirement {
  list-style: none;
}

#ul-skill {
  list-style: none;
}

/* 最後にCSS */
.last-Qiita {
  background: url("../images/8c88f8f4-9783-d36c-a547-e5c799f1253f.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;

}

/* お問い合わせ CSS */
.navbar-brand-gmail {
  background: url("../images/gmail--v2.png") no-repeat center;
  background-size: contain;
  height: 50px;
  width: 250px;
}
.navbar-brand-twitter {
  background: url("../images/2021 Twitter logo - blue.png") no-repeat center;
  background-size: contain;
  height: 50px;
  width: 250px;
}
.navbar-brand-github {
  background: url("../images/github.png") no-repeat center;
  background-size: contain;
  height: 50px;
  width: 250px;
}