@charset "utf-8"
/* 全体のCSS */
body {
  width: 100%;
  height:auto;
}


/* ナビゲーションのCSS */
nav{
  border-bottom: 1px solid #ccc;
  background: url(../images/nav-board.jpg);
  background-size: cover;
}

nav ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}

nav ul li{
  display: table-cell;
  min-width: 120px;
  border-right: 1px solid #ccc;
  vertical-align: middle;
}

nav ul li:first-child{
  border-left: 1px solid #ccc;
}

nav ul li a{
  display: block;
  width: 100%;
  padding: 20px 0;
  color: #000000;
}

nav ul li.current a{
  border-bottom: 5px solid #00B0F0;
  color: #00B0F0;
}


/* 全体のタグ css */
.back-color-gradient {
  background: linear-gradient(
#fceabb,#f8b500)
}


/* 自己紹介 */
.top-image img {
  width:250px;
  height: auto;
}


/* 経歴 css */
/* 学歴 続きのボタン */
.school-career-btn {
  width: 150px;
  margin: auto;
  border-radius: 2px;
  border:solid 2px blue;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.school-career-btn::before {
  content: "学歴の続きを読む"
}

.school-career-hidden-text {
  position: relative;
  overflow: hidden;
  height: 20px; /*隠した状態の高さ*/
}

.school-career-hidden-text::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, 
  rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, 
  #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%,
  rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}

.school-career-top-text {
  display: none; /*チェックボックスは常に非表示*/
}
.school-career-top-text:checked ~ .school-career-btn::before {
  content: "詳細を閉じる" /*チェックされていたら、文言を変更する*/
}
.school-career-top-text:checked ~ .school-career-hidden-text {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.school-career-top-text:checked ~ .school-career-hidden-text::before {
  display: none; /*チェックされていたら、.school-career-itemのbeforeを非表示にする*/
}


/* 学歴 写真のCSS */
/* 近畿大学 経営学部 キャンパスの写真  */
.campus {
  position: relative;
}

img.campus-image {
  height: auto;
}
.campus-text {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 12%;
  left: 40%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}


/* 部活動の写真 */
.bukatsu {
  position: relative;
}

img.bukatsu-image {
  height: 266px;
}
.bukatsu-text {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 12%;
  left: 25%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);

}


/* 元 大阪市長 橋下徹さんの写真 */
.hashimoto {
  position: relative;
}

img.hashimoto-image {
  height: auto;
}
.hashimoto-text {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 12%;
  left: 35%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}


/* 吉本興業の写真 */
.owarai {
  position: relative;
}

img.owarai-image {
  width: 100%;
  height: 100%;
}

.owarai-text1 {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 12%;
  left: 25%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.owarai-text2 {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 18%;
  left: 36%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}


/* 職歴1 続きのCSS */
.work-history-btn1 {
  width: 150px;
  margin: auto;
  border-radius: 2px;
  border:solid 2px blue;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.work-history-btn1::before {
  content: "職歴1の続きを読む"
}

.work-history-hidden-text1 {
  position: relative;
  overflow: hidden;
  height: 20px; /*隠した状態の高さ*/
}

.work-history-hidden-text1::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}

.work-history-top-text1 {
  display: none; /*チェックボックスは常に非表示*/
}

.work-history-top-text1:checked ~ .work-history-btn1::before {
  content: "詳細を閉じる" /*チェックされていたら、文言を変更する*/
}

.work-history-top-text1:checked ~ .work-history-hidden-text1 {
  height: auto; /*チェックされていたら、高さを戻す*/
}

.work-history-top-text1:checked ~ .work-history-hidden-text1::before {
  display: none; /*チェックされていたら、.work-history-itemのbeforeを非表示にする*/
}

/* 職歴1 写真のCSS */
/* 鯛の写真 */
.tai {
  position: relative;
}

img.tai-image {
  height: auto;
}

.tai-text {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 12%;
  left: 20%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}


/* 鍋商材の写真 */
.nabe {
  position: relative;
}

img.nabe-image {
  height: 236px;
}

.nabe-text {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 12%;
  left: 32%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}


/* 鰤の写真 */
.buri {
  position: relative;
}

img.buri-image {
  height: auto;
}
.buri-text {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 12%;
  left: 20%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}


/* 秋刀魚の写真 */
.sanma {
  position: relative;
}

img.sanma-image {
  width:100%;
  height: 236px;
}
.sanma-text {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 12%;
  left: 20%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}


/* 職歴2 続きのCSS */
.work-history-btn2 {
  width: 150px;
  margin: auto;
  border-radius: 2px;
  border:solid 2px blue;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.work-history-btn2::before {
  content: "職歴2の続きを読む"
}

.work-history-hidden-text2 {
  position: relative;
  overflow: hidden;
  height: 20px; /*隠した状態の高さ*/
}

.work-history-hidden-text2::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}

.work-history-top-text2 {
  display: none; /*チェックボックスは常に非表示*/
}

.work-history-top-text2:checked ~ .work-history-btn2::before {
  content: "詳細を閉じる" /*チェックされていたら、文言を変更する*/
}

.work-history-top-text2:checked ~ .work-history-hidden-text2 {
  height: auto; /*チェックされていたら、高さを戻す*/
}

.work-history-top-text2:checked ~ .work-history-hidden-text2::before {
  display: none; /*チェックされていたら、.work-history-itemのbeforeを非表示にする*/
}


/* 職歴2 写真のCSS */
/* 日本ホイスト 写真 */
.hoisuto {
  position: relative;
}

img.hoisuto-image {
  width:100%;
  height: 236px;
}
.hoisuto-text1 {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 12%;
  left: 30%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.hoisuto-text2 {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

/* アネスト岩田 写真 */
.compressor {
  position: relative;
}

img.compressor-image {
  width:100%;
  height: 236px;
}
.compressor-text {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 15%;
  left: 40%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}


/* 製作物 CSS */
#products-list {
  list-style: none;
  padding: 0;
}
img.study-of-postsite {
  width:auto;
  height: 200px;
}

img.hospital-reviews {
  width:auto;
  height: 200px;
}

/* プログラミングスキルと今後の学習 CSS */
/* プログラミングスキル */
.star-2 {
  width: 80px;
  height: 30px;
}

.star-3 {
  width: 80px;
  height: 30px;
}

.star-4 {
  width: 80px;
  height: 30px;
}

#skill-list {
  list-style: none;
  padding: 0;
}

.html-css-icon {
  width: 150px;
  height: 50px;
}

.js-icon {
  width: 100px;
  height: 30px;
}

.php-icon {
  width: 150px;
  height: 50px;
}

.ruby-icon {
  width: 150px;
  height: 50px;
}

.mysql-icon {
  width: 150px;
  height: 100px;

}

.aws-icon {
  width: 150px;
  height: 100px;
}


/* 今後の学習 CSS */
#it-pass {
  list-style: none;
}

#aws {
  list-style: none;
}

#basic-information {
  list-style: none;
}


/* エンジニアを目指す理由 CSS */


/* エンジニアを目指す理由 続きのボタン CSS */
.dream-btn {
  width: 150px;
  margin: auto;
  border-radius: 2px;
  border:solid blue;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.dream-btn::before {
  content: "続きを読む"
}

.dream-hidden-text {
  position: relative;
  overflow: hidden;
  height: 20px; /*隠した状態の高さ*/
}

.dream-hidden-text::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}

.dream-top-text {
  display: none; /*チェックボックスは常に非表示*/
}
.dream-top-text:checked ~ .dream-btn::before {
  content: "詳細を閉じる" /*チェックされていたら、文言を変更する*/
}
.dream-top-text:checked ~ .dream-hidden-text {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.dream-top-text:checked ~ .dream-hidden-text::before {
  display: none; /*チェックされていたら、dream-hidden-textのbeforeを非表示にする*/
}


/* 自己PR CSS */
img.kyoto-image {
  height: 326px;
}

img.nantan-image {
  height: auto;
}


/* 自己PR 続きのボタン*/
.pr-btn {
  width: 150px;
  margin: auto;
  border-radius: 2px;
  border:solid blue;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.pr-btn::before {
  content: "自己PRの続きを読む"
}

.pr-hidden-text {
  position: relative;
  overflow: hidden;
  height: 20px; /*隠した状態の高さ*/
}

.pr-hidden-text::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}

.pr-top-text {
  display: none; /*チェックボックスは常に非表示*/
}
.pr-top-text:checked ~ .pr-btn::before {
  content: "詳細を閉じる" /*チェックされていたら、文言を変更する*/
}
.pr-top-text:checked ~ .pr-hidden-text {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.pr-top-text:checked ~ .pr-hidden-text::before {
  display: none; /*チェックされていたら、pr-hidden-textのbeforeを非表示にする*/
}


/* 資格 特技 CSS*/
#ul-requirement {
  list-style: none;
  padding: 0;
}

#ul-special-skill {
  list-style: none;
  padding: 0;
}


/* 最後に CSS */
.last-brand-qiita {
  background: url("../images/qiita.png") no-repeat center;
  background-size: contain;
  height: 50px;
  width: 250px;
}

.last-brand-github {
  background: url("../images/github.png") no-repeat center;
  background-size: contain;
  height: 50px;
  width: 250px;
}


/* お問い合わせ CSS */
.navbar-brand-gmail {
  background: url("../images/gmail.png") no-repeat center;
  background-size: contain;
  height: 50px;
  width: 250px;
}
.navbar-brand-twitter {
  background: url("../images/twitter.png") no-repeat center;
  background-size: contain;
  height: 50px;
  width: 250px;
}


/* メール送信完了 CSS */
#top-page {
  text-decoration:none;
  color: skyblue;
  font-size: 20px;
  text-align: center;
}