body {
  width: 100%;
  height:100vh;
}

.wrapper {
  border: solid;
  border-color: red
}

/* headerのcss */
header {
  margin: auto;
  margin-bottom:100px;
  position: relative;/*相対配置*/
}

header p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size:100px;
  color:#ffffff;
}
.top-page-image {
  display:block;
  width: 100%;
  height: 850px;
  border: solid;
  border-color: orange;
}


/* mainのcss height変更ありの可能性大*/

.main{
  border: solid;
  border-color: blue;
  height: 2500px; 
  margin: auto;
}

/* About Meのcss */
.about {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  border: solid;
  border-color: rgb(17, 241, 17);
  
}
.about-text {
  display:flex;
  width: 30%;
  height: auto;
  border: solid;
  border-color: red;  
}

.about-text-box {
  border: solid;
  border-color: black; 
  margin:auto;
  font-size:30px;
}
.about-text-box a{
  text-decoration: none;
}

.about-image {
  width: 70%;
  height: auto;
  border: solid;
  border-color: orange;
}

/* My Skillのcss */
.skill {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  border: solid;
  border-color: rgb(17, 241, 17);
  
}
.skill-text {
  display:flex;
  width: 30%;
  height: auto;
  border: solid;
  border-color: red;  
}

.skill-text-box {
  border: solid;
  border-color: black; 
  margin:auto;
  font-size:30px;
}
.skill-text-box a{
  text-decoration: none;
}

.skill-image {
  width: 69.5%;
  height: auto;
  border: solid;
  border-color: orange;
}


/* portfolioのcss */
.portfolio {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  border: solid;
  border-color: rgb(17, 241, 17);
  
}
.portfolio-text {
  display:flex;
  width: 30%;
  height: auto;
  border: solid;
  border-color: yellow;  
}

.portfolio-text-box {
  border: solid;
  border-color: black; 
  margin:auto;
  font-size:30px;
}
.portfolio-text-box a{
  text-decoration: none;
}

.portfolio-image {
  width: 70%;
  height: auto;
  border: solid;
  border-color: orange;
}

/* storyのcss */
.story {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  border: solid;
  border-color: rgb(17, 241, 17);
  
}
.story-text {
  display:flex;
  width: 30%;
  height: auto;
  border: solid;
  border-color: yellow;  
}

.story-text-box {
  border: solid;
  border-color: black; 
  margin:auto;
  font-size:30px;
}
.story-text-box a{
  text-decoration: none;
}

.story-image {
  width: 70%;
  height: auto;
  border: solid;
  border-color: orange;
}


/* contactのcss */
.contact {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  border: solid;
  border-color: rgb(17, 241, 17);
  
}
.contact-text {
  display:flex;
  width: 30%;
  height: auto;
  border: solid;
  border-color: yellow;  
}

.contact-text-box {
  border: solid;
  border-color: black; 
  margin:auto;
  font-size:30px;
}
.contact-text-box a{
  text-decoration: none;
}

.contact-image {
  width: 70%;
  height: auto;
  border: solid;
  border-color: orange;
}