body {
  width: 100%;
  height:100vh;
  border: solid;
  border-color: blue;
}

.wrapper {
  border: solid;
  border-color: red;
  height:1500px;
}

.main {
  border: solid;
  border-color: green;
  display: flex;
  justify-content: center;
}

.post-name{
  border: solid;
  border-color: yellow;
  display: flex;
  justify-content: center;
}

